
arca/target/classes/META-INF/maven/com.arca.app/arca/pom.properties
*.properties
*.class
*.class
*.class
*.class
*.properties
arca/src/main/resources/application.properties
arca/src/main/resources/application.properties
